{% extends 'base.html' %}
{% block content %}

<form>
  <div class="background-signin"></div>
  <div class="container-signin">
    <!-- Formulaire de connexion -->
    <div class="signin">
      <h2>Se Connecter</h2>
      <div class="inputBox">
        <input type="text" required="required">
        <i class="fa-solid fa-envelope"></i>
        <span>Adresse e-mail</span>
      </div>
      <div class="inputBox">
        <input type="password" required="required">
        <i class="fa-solid fa-lock"></i>
        <span>Mot de passe</span>
      </div>
      <div class="inputBox">
        <a href="#" class="forgot-password">Mot de passe oublié?</a>
      </div>
      <div class="inputBox">
        <input type="submit" value="Connexion">
      </div>
      <p>Non Enregistré ? <a href="{% url 'register' %}" class="create">Créer un compte</a></p>
    </div>
  </div>
</form>

{% endblock %}
