/* ###################################################################################################
   ##########################################  STYLE GLOBAL  #########################################
   ################################################################################################### */

/* Réinitialisation globale des styles */
* {
  margin: 0;
  padding: 0;
}

/* Styles pour body et html : mise en place d'une disposition flex, définition d'une police, et prévention du défilement horizontal */
body, html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ###################################################################################################
   ############################################  STYLE HEADER  #######################################
   ################################################################################################### */

/* Styles pour le haut du header : position, arrière-plan en dégradé, ombre portée, disposition flex, padding */
.top-header {
  position: relative;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 23px;
  z-index: 1;
}

/* ###################################################################################################
   ##########################################  STYLE LOGO  ###########################################
   ################################################################################################### */

/* Styles pour le logo : disposition flex */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Styles pour l'image du logo : dimensions, transition */
.logo img {
  width: 500px;
  height: 150px;
  transition: transform 0.2s;
}

/* ###################################################################################################
   #######################################  STYLE ICÔNES SOCIALES  ######################################
   ################################################################################################### */

/* Styles pour les icônes sociales : position, disposition flex, espace entre les éléments */
.social-icons {
  position: absolute;
  right: 40px;
  top: 10%;
  display: flex;
  gap: 20px;
}

/* Styles pour les images des icônes sociales : hauteur, transition */
.social-icons img {
  height: 80%;
  transition: transform 0.3s;
}

/* Effet de survol pour les images des icônes sociales */
.social-icons img:hover {
  transform: scale(1.2);
}

/* ###################################################################################################
   #########################################  MESSAGE PROMOTIONNEL  #########################################
   ################################################################################################### */

/* Styles pour le message promotionnel : alignement du texte, padding, police, taille de police, couleur, arrière-plan, ombre du texte, bordure */
.promo-message {
  text-align: center;
  padding: 10px 0;
  font-family: 'Cinzel Decorative', cursive, sans-serif;
  font-size: 1.5em;
  color: #fff;
  background: linear-gradient(to right, #315D68, #1a2e45);
  text-shadow: 0 0 5px pink, 0 0 10px rgb(220, 146, 159), 0 0 15px pink, 0 0 20px pink;
  border-bottom: 1px solid #315D68;
}

/* Styles pour le message promotionnel quand il est vide */
.promo-message:empty {
  padding: 0;
  background-color: transparent;
  border: none;
  text-shadow: none;
  animation: none;
}

/* Effet d'animation pour le texte promotionnel */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px pink, 0 0 10px rgb(220, 146, 159), 0 0 15px pink, 0 0 20px pink;
  }

  50% {
    text-shadow: 0 0 10px pink, 0 0 15px rgb(220, 146, 159), 0 0 20px pink, 0 0 25px pink;
  }

  100% {
    text-shadow: 0 0 5px pink, 0 0 10px rgb(220, 146, 159), 0 0 15px pink, 0 0 20px pink;
  }
}

/* Styles pour le message promotionnel quand il n'est pas vide */
.promo-message:not(:empty) {
  animation: glow 1s infinite;
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 400px;
    height: 120px;
    transition: transform 0.2s;
  }
}

