{% load static %}

<!-- ###################################################################################################
     ############################################  HEADER  #############################################
     ################################################################################################### -->


         <header>
      
          <!-- MESSAGE PROMO -->
          <div class="promo-message"></div>
          <div class="top-header">
            <div class="logo">
              <img src="{% static 'styles/images/MA_BOUTIQUE_LOGO_Fond-Blanc.png' %}" alt="Logo boutique">
            </div>
            <!-- LOGOS RESEAUX SOCIAUX -->
            <div class="social-icons">
              <a href=https://www.instagram.com/maboutiquedereve/ target="_blank" rel="noopener"><img
                  src="{% static 'styles/images/logos-social/logo-instagram.svg' %}" alt="logo instagram"></a>
              <a href="https://www.facebook.com/profile.php?id=100089077755487" target="_blank" rel="noopener"><img
                  src="{% static 'styles/images/logos-social/logo-facebook.svg' %}" alt="logo facebook"></a>
            </div>
          </div>
    
    
          <!-- ###################################################################################################
               ############################################  NAVBAR  #############################################
               ################################################################################################### -->
          <nav class="nav-bar sticky-nav" id="navbar_fix">
            <ul class="menu">
              <li><a href="#top-header">Accueil</a></li>
              <li><a href="#">Femme</a>
                <ul>
                  <li><a href="#">Vêtements</a>
                    <ul>
                      <li><a href="#">Tailles Classiques</a>
                        <ul>
                          <li><a href="#">Manteaux / Vestes</a></li>
                          <li><a href="#">Pulls</a></li>
                          <li><a href="#">Robes</a></li>
                          <li><a href="#">Gilets</a></li>
                          <li><a href="#">Jupes</a></li>
                          <li><a href="#">Hauts / T-shirts</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Pantalons / Leggings</a></li>
                          <li><a href="#">Shorts</a></li>
                          <li><a href="#">Combinaisons / Combi-shorts</a></li>
                          <li><a href="#">Maillots de bain</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Grande Taille</a>
                        <ul>
                          <li><a href="#">Manteaux / Vestes</a></li>
                          <li><a href="#">Pulls</a></li>
                          <li><a href="#">Robes</a></li>
                          <li><a href="#">Gilets</a></li>
                          <li><a href="#">Jupes</a></li>
                          <li><a href="#">Hauts / T-shirts</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Pantalons / Leggings</a></li>
                          <li><a href="#">Shorts</a></li>
                          <li><a href="#">Maillots de bain</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Accessoires</a>
                    <ul>
                      <li><a href="#">Bijoux</a></li>
                      <li><a href="#">Porte-monnaie</a></li>
                      <li><a href="#">Ceintures</a></li>
                      <li><a href="#">Foulards</a></li>
                      <li><a href="#">Sacs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Collection Complète</a></li>
                </ul>
              </li>
              <li><a href="#">Homme</a>
                <ul>
                  <li><a href="#">Vêtements</a>
                    <ul>
                      <li><a href="#">Tailles Classiques</a>
                        <ul>
                          <li><a href="#">Manteaux / Vestes</a></li>
                          <li><a href="#">Hauts / T-shirts</a></li>
                          <li><a href="#">Sweat-shirts / Pulls</a></li>
                          <li><a href="#">Pantalons</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Shorts</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Grande Taille</a>
                        <ul>
                          <li><a href="#">Manteaux / Vestes</a></li>
                          <li><a href="#">Hauts / T-shirts</a></li>
                          <li><a href="#">Sweat-shirts / Pulls</a></li>
                          <li><a href="#">Pantalons</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Shorts</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Accessoires</a>
                    <ul>
                      <li><a href="#">Sacoche</a></li>
                      <li><a href="#">Ceintures</a></li>
                      <li><a href="#">Portefeuille</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Collection Complète</a></li>
                </ul>
              </li>
              <li><a href="#contact_section">Contact</a></li>
            </ul>
            <!-- ###################################################################################################
                 ##########################################  SEARCH BAR  ###########################################
                 ################################################################################################### -->
    
            <div class="search-bar">
              <input type="text" placeholder="Rechercher...">
            </div>
            <!-- ###################################################################################################
                 ###########################################  LOGOS BAR  ###########################################
                 ################################################################################################### -->
    
            <div class="nav-section">
              <a href="#"><i class="fas fa-shopping-cart"></i><span id="cart-items">0</span></a>
              <a href="#"><i class="fas fa-user"></i></a>
            </div>
          </nav>
    
        </header>