{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ###################################################################################################
         #############################################  MAIN  ##############################################
         ################################################################################################### -->
    <main>
      <section class="home-carousel">
      <div class="container-index">
        <div id="slide">
            <div class="item" style="background-image: url(static/styles/images/carrousel/men01.jpg);">
                <div class="content">
                    <div class="name">Nouveautés</div>
                    <p class="des">Découvrez les dernières tendances masculines !</p>
                    <a class="btn-car" href="#">Découvrir</a>
                </div>
            </div>
            <div class="item" style="background-image: url(static/styles/images/carrousel/women01.jpg);">
                <div class="content">
                    <div class="name">Nouveautés</div>
                    <p class="des">Styles féminins irrésistibles, découvrez nos nouveautés !</p>
                    <a class="btn-car" href="#">Découvrir</a>
                </div>
            </div>
            <div class="item" style="background-image: url(static/styles/images/carrousel/women02.jpg);">
              <div class="content">
                    <div class="name">Nouveautés</div>
                    <p class="des">Découvrez les dernières tendances féminines !</p>
                    <a class="btn-car" href="#">Découvrir</a>
                </div>
            </div>
            <div class="item" style="background-image: url(static/styles/images/carrousel/men02.jpeg);">
              <div class="content">
                    <div class="name">Nouveautés</div>
                    <p class="des">Découvrez les dernières tendance pour hommes !</p>
                    <a class="btn-car" href="#">Découvrir</a>
                </div>
            </div>
            <div class="item" style="background-image: url(static/styles/images/carrousel/women03.jpg);">
              <div class="content">
                    <div class="name">Nouveautés</div>
                    <p class="des">Accessoires irrésistibles : démarquez-vous !</p>
                    <a class="btn-car" href="#">Découvrir</a>
                </div>
            </div>
            <div class="item" style="background-image: url(static/styles/images/carrousel/men03.jpg);">
              <div class="content">
                    <div class="name">Nouveautés</div>
                    <p class="des">Accessoires tendances pour parfaire votre style !</p>
                    <a class="btn-car" href="#">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="buttons-car">
            <button id="prev-01"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next-01"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
    </div>
    </section>
    <!-------------- SECTION NOS MEILLEURS VENTES ----------------->
    <section class="section-bestseller">
       
      <h2  data-aos="fade-up" data-aos-duration="3000">Nos Meilleures Ventes</h2>
      <div class="product-grid">
        {% for product in products %}
        <div class="product-card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="{{ product.images.url }}" alt="Produit Femme">
            <h3 class="product-name">{{ product.title_online }}</h3>
            <p class="product-price">{{ product.price|floatformat:2 }} €</p>
            <a href="{{ product.get_url }}" class="product-button">Voir le produit</a>
        </div>
        {% endfor %}
    </div>
   
    </section>

    <!-------------- SECTION A PROPOS -------------->
    <section class="section-about" data-aos="fade-up" data-aos-duration="3000">
      <img src="{% static 'styles/images/background-inscription.jpg' %}" alt="A propos de nous">
      <div class="content">
        <h2>À Propos De Nous</h2>
        <p>Bienvenue dans « Ma boutique de rêve », où le style rencontre la personnalité. Découvrez notre sélection tendance de vêtements et accessoires pour hommes et femmes, conçus pour flatter chaque morphologie. Trouvez votre bonheur et laissez-nous vous accueillir avec le sourire !</p>
        <a href="#" class="button">En savoir plus</a>
      </div>
    </section>
    
    <!---------- SERVICES -------->
    <section class="services">
      <div class="service-item">
        <i class="fas fa-lock fa-2x"></i>
        <h3>Paiement Sécurisé</h3>
      </div>
      <div class="service-item">
        <i class="fas fa-shipping-fast fa-2x"></i> 
        <h3>Livraison Rapide</h3>
      </div>
      <div class="service-item">
        <i class="fas fa-undo fa-2x"></i>
        <h3>Satisfait ou Remboursé</h3>
      </div>
      <div class="service-item">
        <i class="fas fa-headset fa-2x"></i>
        <h3>Service Client</h3>
      </div>
    </section>
    </main>

    

{% endblock %}