{% if messages %}
  {% for message in messages %}
  <!-- Affichage des messages -->
  <div id="message" class="container_alert">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Important:</strong> {% endif %}
      {{ message }}
    </div>
    <!-- Bouton de fermeture du message -->
    <button type="button" class="close" data-dismiss="alert">
      <span class="close-icon" onclick="this.parentElement.style.display='none';">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}

<script>
(function() {
  // Fonction pour fermer le message
  function closeMessage() {
    var container = this.parentElement;
    container.style.display = 'none';
  }

  //  Fonction Attaché à tous les éléments ayant la classe "close"
  var closeButtons = document.getElementsByClassName('close');
  for (var i = 0; i < closeButtons.length; i++) {
    closeButtons[i].onclick = closeMessage;
  }

  // Fermeture automatique du message après un délai de 4 secondes
  setTimeout(function() {
    var message = document.getElementById('message');
    if (message) {
      message.style.transition = 'opacity 1s';
      message.style.opacity = '0';
      setTimeout(function() {
        message.style.display = 'none';
      }, 1000);
    }
  }, 5000);
})();
</script>
